<footer>
    <ul>
        <li><a href='https://shop.hihowareyou.com/'>shop</a></li>
        <li><a href='https://www.artsfactory.net/'>posters</a></li>
        <li><a href='https://www.hihowareyou.com/messageboard/'>forum</a></li>
    </ul>
</footer>