<nav>
    
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/works'>Works</a></li>
    </ul>

    <div id="header">
        <img id="hi" src="../../public/assets/hi.png" alt="Hi">
        <h1 id="hi-title">Hi, how are you?</h1>
    </div>
</nav>