<div class="video">
    <h2>The Devil and Daniel Johnston</h2>
    <iframe width="961" height="721" src="https://www.youtube.com/embed/wJZOe65eA4Y" title="The Devil and Daniel Johnston (Trailer)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>" 
    <p>Daniel Johnston has spent the last 20 or so years exposing his heartrending tales of unrequited love, cosmic mishaps,
    and existential torment to an ever-growing international cult audience. Initiates, including a healthy number of
    discerning musicians and critics, have hailed him as an American original in the style of bluesman Robert Johnson and
    country legend Hank Williams. A number of artists -- among them the Dead Milkmen, Yo La Tengo, the Velvet Underground's
    songs. And he as collaborated with the likes of Jad Fair (a founding member of Half Japanese, who've also done Daniel's
    songs), the Butthole Surfers, Bongwater/Shimmydisc guru Kramer, and members of Sonic Youth. Daniel gained his widest
    public exposure to date when, at the 1992 MTV Music Awards, Nirvana leader Kurt Cobain (who constantly touted Daniel in
    interviews) wore a Johnston T-shirt.
    
    Surprisingly, the bulk of his considerable acclaim snowballed from a series of homemade, lo-fi cassettes which Daniel
    started recording and handing out to fans and friends alike in the early 80s. Eventually, the independent label
    Homestead re-issued some of these tapes on CD, and Johnston recorded a few new albums in almost-proper studios.
    
    Daniel was born in 1961 in Sacramento, California, the youngest of five children in a Christian fundamentalist
    household> He and his family soon moved to New Cumberland, West Virginia, where his father, an engineer and World War II
    fighter pilot, landed a job with Quaker State. Drawing for a long time before he took up music, Daniel grew to
    appreciate such artists John Lennon, Yoko Ono, Bob Dylan, David Bromberg, Queen, Neil Young, the Sex Pistols, and
    especially the Beatles. "When I was 19, I wanted to be the Beatles. I was disappointed when I found out I couldn't
    sing." That Liverpudlian quartet continues to inspire Daniel today, who sings, "My heart looked to art and I found the
    Beatles/Oh God I was and am a true disciple on Rock 'n' roll/EGA."
    
    While it would be years before Daniel committed his first songs to tape, he began composing at an early age. "When I was
    a kid, probably nine, I used to bang around on the piano, making up horror movie themes. When I got a bit older, I'd be
    mowing my lawn and I'd make up songs and sing them. No one could hear me 'cause of the lawn mower." As a teenager,
    Daniel and his friends began to record their own tapes and trade them among themselves. After high school, he attended
    an art program at a branch of Ken State near his family's home. This was a prolific period of his life. Unemployed, and
    attending classes sporadically, he began to spend most of his time in his family's cellar, writing and recording. The
    tapes he made there included "Songs of Pain" and "More Songs of Pain," which both centered around his unrequited love
    for a woman named Laurie who ended up marrying an undertaker.
    
    The aspiring cartoonist -- whose playful, symbol-heavy sketches have graced the covers of may of his releases, including
    "Fun" -- moved to Texas in 1983. FIrst he went to Houston, living with his brother and working at Astro World, while
    also recording the seminal tapes "Yip/Jump Music" and "Hi, How Are You?" on a $59.00 Sanyo mono boom box. These
    recordings featured such classics as "Speeding Motorcycle," "Sorry Entertainer," and odes to everyone from "Casper the
    Friendly Ghost" and "King Kong" to "The Beatles." From there he moved to San Marcos, TX, and even joined a traveling
    carnival show for a spell, selling corndogs. "It was like a movie all the time. Everybody around me was a great story
    that never stopped, and for the first time, I realized how much freedom you have to do what you want."
    
    Throughout his career, Daniel's songs and drawings have been informed to some degree by his ongoing struggle with manic
    depression -- lending an added poignancy to his soul-searching times. His five-month stint with the carney left him in
    Austin, where he decided to stay. In the midst of that city's mid-eighties music scene, Johnston was a definite
    iconoclast. While he continued to hand out his tapes for free, Austin record stores started selling them; in fact, the
    became best-selling local releases. Soon, a camera crew from MTV's seminal "Cutting Edge" show came to town and all the
    Austin bands suggested they feature Daniel.
    
    His appearance on the show made him a minor celebrity. Recognizing the quality of his songs and the purity of his
    vision, the American underground began to embrace Daniel. The Dead Milkmen recorded his song "Rocket Shop," and Sonic
    Youth and noted Minutemen/FIREHOSE bassist Mike Watt made plans to record some of his material, as did The Butthole
    Surfers and other Austin bands. The music press both here and abroad began to weigh in with lofty pronouncements of
    Daniel's artistry.
    
    In the spring of 1992, the Lyon Opera Ballet commissioned a piece from New York-based choreographer Bill T. Jones. He
    delivered "Love Defined" - a 25-minute piece set to six songs from Johnston's Yip/Jump Music. In October of that same
    year, the Bill T. Jones/Arnie Zane combo performed "Love Defined" at New York's Joyce Theatre. The reviews in the New
    York Times and the Village Voice each cited Johnston's songs favorably. Over the years, Daniel's paintings and drawings
    have been exhibited in Los Angeles, Zurich, and Berlin. The cover of a recent edition of music writer Richard Meltzer's
    "The Aesthetics of Rock" was drawn by Johnston.
    
    UPDATE:
    
    The 90's were difficult for Daniel, but will probably be regarded as the years that medical relief was achieved. Modern
    medications eventually achieve stability.
    
    He signed with Atlantic Records in 1992 and released "FUN" which sold 12,000 copies. But his mental stability and
    productivity didn't produce another album until 1999 with Brian Beatties production "Rejected Unknown".
    
    Mark Linkous of Sparklehorse collaborated with Daniel in the 2003 release "Fear Yourself" on Gammon Records, making what
    many regard as an "accessible" contemporary sound to Daniel's music ideas.
    
    In November of 2004, Gammon records released a cover tribute album with covers from eighteen artists on one CD and
    Daniel's originals on the second CD. This work, "Discovered Covered - The Late Great Daniel Johnston" gave Daniel new
    exposure to fans of Beck, Clem Snide, Gordan Gano, Eels, Calvin Johnson, Tom Waits and others.
    
    In January, 2005, the feature-length documentary "The Devil and Daniel Johnston" premiered at Sundance Film Festival and
    at film festivals around the world that year. The movie was distributed in North America by Sony Pictures Classic and by
    Tartan Films in the United Kingdom on March 31, 2006.</p>
</div>