<div class="video">
    <h2>The Devil and Daniel Johnston</h2>
    <iframe width="961" height="721" src="https://www.youtube.com/embed/wJZOe65eA4Y" title="The Devil and Daniel Johnston (Trailer)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>" 
</div>