<div class="section-1">
<div class="quote">
    <p>"Listen up and I'll tell a story about an artist growing old. Some would try for fame and glory; others aren't so
        bold."
        Daniel Johnston</p>
</div>
<div class="intro">

<img src="../public/assets/daniel.jpg" alt="daniel portrait">
</div>


</div>

<div class="section-2">
<h1>Story of an artist</h1>
<p>Daniel Dale Johnston was an American singer, musician and artist regarded as
a significant figure in outsider, lo-fi, and alternative music scenes. Most of his work consisted of cassettes
recorded alone in his home, and his music was frequently cited for its "pure" and "childlike" qualities.

Johnston spent extended periods in psychiatric institutions and was diagnosed with bipolar disorder. He
garnered a local following in the 1980s by passing out tapes of his music while working at a McDonald's in Dobie Center
in Austin, Texas. His cult status was propelled when Nirvana's Kurt Cobain was seen wearing a T-shirt that
featured artwork from Johnston's 1983 cassette album Hi, How Are You.

Johnston also created visual art, and his illustrations were exhibited at galleries around the world. His struggles with
mental illness were the subject of the 2005 documentary The Devil and Daniel Johnston. He died in 2019 of a suspected
heart attack.</p>


</div>